<% include ../partials/main/mainHeader.ejs %>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-11" id="jumbotron">
    <header >
        <div class="container text-center">
            <h1> <i class="fas fa-campground"></i> Welcome to YelpCamp</h1>
            <h5>View our handpicked campgrounds from all over the world</h5>
            <div id="addButton">
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add a New Campground</a>
            </div>
        </div>
      
        <!-- Search -->
        <div class="col-md-6">
            <% if(noMatch !== null){ %>
                <p><form action="/campgrounds" method="get" class="form-inline">
                        <div class="form-group">
                            <input type="text" name="search" placeholder="Campground search ..." class="form-control">
                            <input type="submit" value="Search" class="btn btn-primary">
                        </div>
                </form></p>
            <%} %>
        </div>  
    </header>
        </div>
    </div>

    <div class="row text-center my-3" style="display:flex; flex-wrap:wrap;">
        <% campgrounds.forEach((campground) => { %>
            <div class="col-md-4 col-sm-6 mb-3">
                <div class="card">
                    <img src="<%=campground.image%>" class="card-img-top" alt="campground image"  id="cardsHeight">
                    <div class="card-body">
                        <h5 class="card-title"><%=campground.name%></h5>
                        <a href="campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </div>
                </div>               
            </div>
        <% }); %>
    </div>
    <!-- Pagination -->
    <nav aria-label="Page navigation">
    <% if (pages && pages > 0) { %>
    <ul class="pagination justify-content-center">
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">First</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds">First</a></li>
        <% } %>
 
        <% if (current == 1) { %>
        <li class="page-item disabled"><a class="page-link">«</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %>">«</a></li>
        <% } %>
 
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if (i !== 1) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
        <% if (i == current) { %>
        <li class="active"><a class="page-link"><%= i %></a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= i %>"><%= i %></a></li>
        <% } %>
        <% if (i == Number(current) + 4 && i < pages) { %>
        <li class="page-item disabled"><a class="page-link">...</a></li>
        <% } %>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">»</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %>">»</a></li>
        <% } %>
 
        <% if (current == pages) { %>
        <li class="page-item disabled"><a class="page-link">Last</a></li>
        <% } else { %>
        <li><a class="page-link" href="/campgrounds?page=<%= pages %>">Last</a></li>
        <% } %>
    </ul>
    <% } %>
</nav>
</div>

<% include ../partials/main/mainFooter.ejs %>