 </div> 
 <!--container -->
</div>
<!-- main contener  -->
</div>
<!-- div for background image -->

 <!-- Footer -->
<div class="footer">
<footer class="page-footer font-small">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">&copy; YelpCamp 2019:
    <a href="/campgrounds/new">New Campground</a>
    </div>
    <!-- Copyright -->
</footer>
</div>
<!-- Footer -->

    <!-- popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous">
    </script>
   
     <!-- Bootstrap JS CDN -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous">
    </script>
    <!-- jQuery CDN -->
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <script type="text/javascript">
        jQuery(document).ready(function(){
            $(".alert").fadeIn(2000, function(){
            $(this).delay(2000).fadeOut(1600)
        });
        });

        // $(document).ready(function(){
        //     $(".alert").delay(2000).fadeOut("slow")
        // });
    </script>
</body>
</html>

    
